.hotel {
    position: relative;
    margin: 20px;
}

.info {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    margin-top: 55px; 
}

.img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    width: 100%;
    height: auto;
}

.city {
    margin: 10px;
}

.title {
    font-size: 1.5rem;
    font-weight:300
}

.cityP {
    font-size: 1.5rem;
    font-weight: lighter;
}

.row {
    display: flex;
    align-items: baseline;
    
}
