.body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    position: relative;
    margin: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 700px;
}

.info {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    margin: 15px;
    padding-top: 10px;
}